body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
  color: #434455;
}
/*reset*/
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
/*common*/
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
img {
  display: block;
}

.team-img {
  max-width: 100%;
}
/*header*/
.page-header {
  border-bottom: 1px solid #e7e9fc;

  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.nav {
  font-family: 'Raleway-bold', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgba(77, 90, 229, 1);
}
.header-logo .logo-part {
  color: #2e2f42;
}
.page-footer .logo-part {
  color: #f4f4fd;
}
.list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-link {
  padding: 24px 0;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current {
  position: relative;
}
.nav-link.current::after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-link {
  display: block;
  padding: 24px 0px;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  line-height: 1.5;
  transition-duration: 250ms;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.nav-link.nav-link.current:hover,
.nav-link:focus,
.nav-link.current {
  color: #404bbf;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
/*holder-images*/
.holder-imeges {
  background: #2e2f42;
  padding: 188px 0;
  max-width: 1440px;
  margin: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-hiro.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.images-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
  font-size: 56px;
  line-height: 107%;
  color: #fff;
  margin-bottom: 48px;
}
.button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  text-transform: none;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background: #4d5ae5;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*team*/

.team {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wrapper-icon {
  display: flex;
  align-items: center;
  height: 112px;
  justify-content: center;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.desc-item {
  width: calc((100% - 72px) / 4);
}
.emblem-icon {
  margin: 24px 100px;
}
.desc {
  display: flex;
  gap: 24px;
}

.desc-lead {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.desc-text {
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}
/*team-items*/
.team-items {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}
.team-card {
  display: flex;
  gap: 24px;
}
.team-list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.persona {
  padding: 32px 0;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.massangers {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}
.massanger-item {
  width: 40px;
  height: 40px;

  border-radius: 50%;
}
.social-item {
  display: flex;
  width: 100%;
  height: 100%;
  color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.massanger-icons-persona {
  fill: #f4f4fd;
}
.social-item:hover,
.social-item:focus {
  background-color: #404bbf;
}

/*portfolio*/
.portfolio {
  padding: 120px 0;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.overlow {
  display: block;
  position: absolute;
  transform: translateY(100%);
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 100%;
  height: 100%;
  padding: 40px 32px 164px;
  background-color: #4d5ae5;
  transition-duration: 250ms;
  transform: translateY(100%);
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overlow {
  transform: translateY(0);
}
.portfolio-item:hover {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.thumb {
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 300px;
  overflow: hidden;
}
.container-title {
  text-align: center;
  margin-bottom: 72px;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.direction {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.portfolio-direction {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;
}
.portfolio-caption {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
  margin-top: 8px;
}
.from {
  margin-top: 8px;
}
/*footer*/
.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo {
  display: inline-block;
  color: #4d5ae5;
}
.footer-logo {
  margin-bottom: 16px;
}
.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  max-width: 264px;
  width: 264px;
}
.footer-center {
  display: flex;
  align-items: baseline;
}
.footer-container {
  width: 1158px;

  margin-left: auto;
}
.container-logo {
  display: block;
  margin-right: 120px;
}

.social {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.massanger-item-footer {
  width: 40px;
  height: 40px;
}
.massangers-footer {
  display: flex;
  gap: 16px;
  justify-content: flex-start;
}
.massanger-icons-footer {
  fill: #f4f4fd;
}
.name {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.social:hover,
.social:focus {
  background-color: #31d0aa;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.subscribe {
  margin-left: auto;
}
.connection {
  display: flex;
  gap: 24px;
}

.input-wraper {
  display: flex;
}
.form-email {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid#ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: #ffffff;
}
::placeholder {
  color: #ffffff;
}
.form-button {
  display: flex;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 24px 8px 24px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #ffffff;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
}

.form-icon {
  fill: #fff;
  margin-left: 16px;
}

/*backdrop*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.backdrop:not(.is-open).modal {
  transform: translate(-50%, -50%) scale (1.5);
}

/*form*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 24px;
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
}
.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.button-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  border-radius: 100%;
  background-color: #404bbf;
  fill: #fff;
  border: none;
}
.modal-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-field {
  margin-bottom: 8px;
}
.user-name {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.form-wrapper {
  position: relative;
}
.form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  line-height: 2;
  font-size: 12px;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.persona-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: transparent;
  transition: border-color 250me cubic-bezier(0.4, 0, 0.2, 1);
  padding-right: 16px;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.persona-input:focus {
  border: 1px solid #4d5ae5;
}
.persona-input:focus + .person-icon {
  fill: #4d5ae5;
}

.person-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: border color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  bottom: 8px;
  left: 16px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-massange {
  width: 100%;
  height: 138px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  outline: transparent;
  padding-left: 38px;
}

::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
}
.modal-form-massange {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  font-weight: 400;
  font-size: 12px;
  padding: 8px 16px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-field {
  margin-bottom: 16px;
}
.modal-form-massange:focus {
  border-color: #4d5ae5;
}
.textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.checked {
  position: absolute;
  width: 16px;
  height: 16px;
}

.modal-checkbox {
  margin-bottom: 24px;
}
.communication {
  font-size: 12px;
  line-height: 1.17;
  color: #8e8f99;
  letter-spacing: 0.04em;
}
.checkbox:checked + .communication > .solid {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.solid {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  margin-right: 8px;
}
.policy {
  color: #4d5ae5;
  text-decoration: underline;
}

.button {
  line-height: 1.5;
  font-weight: 500;
  margin-right: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  text-transform: none;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background: #4d5ae5;
  margin-top: 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
